@tailwind base;
@tailwind components;
@tailwind utilities;
/*ceci est un commentaire*/

body {
    background-color:rgb(205, 213, 95);
    margin-left: 2%;
}

header nav ul {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    display: flex;
    justify-content: space-around;
}

header nav ul a {
    background-color:rgb(170, 177, 63);
    padding: 1rem 7rem ;
    color: black;
    border: 2px solid green;
    text-decoration: none;
}


h1 {
    font-size: 5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: rgb(7, 81, 7);
}

h2 {
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(93, 13, 13);
}

h3 {
    font-size: 3rem;
    font-family:'Courier New', Courier, monospace;
}

h4{
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
}

p {
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

table th {
    padding: 0.5rem;
    border: 2px solid black;
}
table td {
    padding: 0.5rem;
    border: 2px solid black;
}

feBlend
img{
    max-width: 100%;
}

img.medium-size {
    width: 500px;
}

img.menu--photo-plat{
    margin: 10px;
    width: 150px;
}

footer {
    border-top: 2px solid darkgreen;
}

footer ul {
    font-family:monospace;
    font-size:large;
    list-style: none;
    padding-top: 1;
    margin: 1rem 0 0;
    display: flex;
    justify-content:space-evenly;
}

footer ul a {
    padding: 1rem 0rem ;
    color: black;
    text-decoration: none;
}

form {
    padding : 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form .corps_formulaire div {
    position: relative;
    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form button {
    margin-top: 20px;
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(108, 108, 7);
    color: white; 
    font-size: 15px;
    border: none;  
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s;
}

form button:hover {
    transform: scale(1.01);
}

.form-error--message{
    margin-top: 20px;
    margin-left: 10px;
    width: 50%;
    background-color: red;
    font-size: 15px; 
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.form-confirmation--message{
    margin-top: 20px;
    margin-left: 10px;
    width: 50%;
    background-color: green;
    font-size: 15px; 
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}


.form--radio-buttons--scrollable,
.form--checkboxes--scrollable {
    border: 1px solid black;
    max-height: 250px;
    overflow: auto;
}

.form--radio-buttons-image {
    height: 200px;
}

table {
    font-family: 'Courier New', Courier, monospace;
}

table .button-supprimer {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgb(154, 19, 19);
    width: 8rem;
}

table .lien-modif {
    color: black;
}