@tailwind base;
@tailwind components;
@tailwind utilities;
/*ceci est un commentaire*/

body {
    background-color:rgb(200, 206, 126);
    margin-left: 2%;
    margin-right: 2%;
}

.header-user{
    width: 100%;
    text-align: center;
}
.header-user th {
    position: relative;
    border: none;
    padding: 1rem;
    width: 30%;
    font-size: 2rem;
    background-color: rgb(162, 168, 95);
}
.header-user td {
    border: none;
    position: relative;
    padding: 1rem;
    width: 15%;
    font-size: 1.5rem;
}

.header-user td a,
.header-user th a{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header-admin {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

.header-admin td {
    border: 1px solid black;
    padding: 1rem;
    width: 15%;
    font-size: 1.5rem;
}

h1 {
    font-size: 5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: rgb(7, 81, 7);
    padding-top: 20px;
}

h2 {
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(93, 13, 13);
}

h3 {
    font-size: 3rem;
    font-family:'Courier New', Courier, monospace;
}

h4{
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
}

p {
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

table th {
    padding: 0.5rem;
    border: 2px solid black;
}
table td {
    padding: 0.5rem;
    border: 2px solid black;
}

feBlend
img{
    max-width: 100%;
}

#caroussel{
    position: relative;
    margin-top: 0px;
    margin-left: none;
    margin-right: none;
    width: 100%;
    height: 625px;
    overflow: hidden;
}

.image-ambiance {
    display: flex;
    animation-duration: 20s;
    animation-name: mesImages;
    animation-iteration-count: infinite;
}

@keyframes mesImages {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }

}

img.menu--photo-plat{
    margin: 10px;
    width: 150px;
}

footer {
    border-top: 2px solid darkgreen;
    margin-top: 20px;
}

footer ul {
    font-family:monospace;
    font-size:large;
    list-style: none;
    padding-top: 1;
    margin: 1rem 0 0;
    display: flex;
    justify-content:space-evenly;
}

footer ul a {
    padding: 1rem 0rem ;
    color: black;
    text-decoration: none;
}

form {
    padding : 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form .corps_formulaire div {
    position: relative;
    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(108, 108, 7);
    color: white; 
    font-size: 15px;
    border: none;  
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s;
}

form button:hover {
    transform: scale(1.01);
}

.form-error--message{
    margin-top: 20px;
    margin-left: 10px;
    width: 50%;
    background-color: red;
    font-size: 15px; 
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.form-confirmation--message{
    margin-top: 20px;
    margin-left: 10px;
    width: 50%;
    background-color: green;
    font-size: 15px; 
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}


.form--radio-buttons--scrollable,
.form--checkboxes--scrollable {
    border: 1px solid black;
    max-height: 250px;
    overflow: auto;
}

.form--radio-buttons-image {
    height: 200px;
}

table {
    font-family: 'Courier New', Courier, monospace;
}

table .button-supprimer {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgb(154, 19, 19);
    width: 8rem;
}

table .lien-modif {
    color: black;
}


#bouton-reservation {
    position: absolute;
    width: 640px;
    height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(108, 7, 7);
    color: white; 
    font-size: 30px;
    border: none;  
    padding: 0px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s;
    top: 85%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}

#bouton-reservation:hover {
    transform: translateX(-50%)  translateY(-50%) scale(1.01);;
}

.table-contact {
    width: 100%;
    text-align: center;
}

.table-contact th {
    border: 1px solid black;
    padding: 1rem;
    font-size: 1rem;
    background-color: rgb(162, 168, 95);
}

.table-contact td {
    border: 1px solid black;
    padding: 1rem;
    width: 15%;
    font-size: 1rem;
}

iframe.map {
    width: 100%;
    margin-top: 30px;
}

.menu {
    background-color: rgb(216, 220, 173);
    
}

hr {
    height: 2px;
    background-color: black;
}

